html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height:100%;
    font-family: Helvetica, Verdana, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    height:100%;
    background-color: whitesmoke;
}

#wrapper {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    height: 100%;
    z-index: 20;
    position: relative;
    text-align: center;
}

#wrapper a {
    font-size: 2em;
    color: lightgray;
    text-decoration: none;
}

#video_image {
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 0;
    text-align: center;
}
#video_image .image {
    height: 100%;
}

#video_image img {

}

.number-block {
    width: 100%;
}

.key {
    cursor: pointer;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    display: inline-block;
     -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    border-radius: 3em;
    vertical-align: middle;
    color: darkslategray;
    font-size: 1.5em;
    line-height: 3em;
    background-color: rgba(255,255,255,0.8);

}
.key:hover {
    background-color: rgba(255,255,255,1);
}

.row {
    clear: both;
}

.number {
    width: 3em;
}

.clear {
    width: 6em;
}

#stars {
    font-size: 30px;
    color: green;
    letter-spacing: 5px;
    line-height: 45px;
    min-height: 45px;
}
.error {
    letter-spacing: normal;
    color: firebrick;
}
.text {
    letter-spacing: normal;
}

#top_display {
    width: 90%;
    color: darkslategray;
    border: 1px solid black;
    background-color: rgba(255,255,255,0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 3em;
    margin: 20px 0;
    display: inline-block;
}

#message {
    font-size: 20px
}

.form input, .form button {
    width: 90%;
    color: darkslategray;
    border: 1px solid black;
    background-color: rgba(255,255,255,0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 3em;
    margin: 20px 0;
    display: inline-block;
}

input, button {
    color: darkslategray;
    text-align: center;
    font-size: 40px;
    height: 50px;
    background: none;
    border: none;
    width: 90%;
    margin-left: -5px;
}
button {
    background-color: lightskyblue;
    margin: 10px 0;
    cursor: pointer;
}
button:hover {
    background-color: slategrey;
}

@media (-webkit-device-pixel-ratio : 3), (-webkit-device-pixel-ratio : 2){
    #wrapper {
        max-width: 100%;
    }

    #wrapper a {
        font-size: 8vw;
    }

    .key {
        margin: 2vw;
         -webkit-border-radius: 25vw;
        -moz-border-radius: 25vw;
        border-radius: 25vw;
        font-size: 10vw;
        line-height: 25vw;
    }

    .number {
        width: 25vw;
    }

    .clear {
        width: 50vw;
    }

    input, button {
        font-size: 10vw;
        height: 10vw
    }

    #stars {
        font-size: 8vw;
        letter-spacing: 5vw;
        line-height: 10vw;
        min-height: 12vw;
    }

    #message {
        font-size: 8vw;
    }
}
