<!DOCTYPE html>
<html>
<head>
	<title>UnLock</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <div id="video_image">
    </div>

    <div id="wrapper">
        <div id="top_display">
            <input type="text" id="user-name" name="user-name" placeholder="Username">
            <div id="stars"></div>
        </div>

        <div class="number-block">
            <div class="row">
                <div class="key number" data-nr="1">1</div>
                <div class="key number" data-nr="2">2</div>
                <div class="key number" data-nr="3">3</div>
            </div>
            <div class="row">
                <div class="key number" data-nr="4">4</div>
                <div class="key number" data-nr="5">5</div>
                <div class="key number" data-nr="6">6</div>
            </div>
            <div class="row">
                <div class="key number" data-nr="7">7</div>
                <div class="key number" data-nr="8">8</div>
                <div class="key number" data-nr="9">9</div>
            </div>
            <div class="row">
                <div class="key number" data-nr="0">0</div>
                <div class="key clear">clear</div>
            </div>

        </div>
    </div>



    <script src="/public/jquery.js" type="text/javascript"></script>
    <script src="/public/javascript.js" type="text/javascript"></script>
</body>
</html>