<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    version="XHTML+RDFa 1.0"
    xmlns:og="http://ogp.me/ns#"
    xml:lang="es">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>UnLock - update code</title>
    <link rel="stylesheet" href="/public/styles.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <link rel="manifest" href="/public/site.webmanifest">
    <link rel="mask-icon" href="/public/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/public/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="GS UnLock">
    <meta name="application-name" content="GS UnLock">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/public/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div id="video_image">
    </div>

    <div id="wrapper">
        <div class="form">
            <input type="text" id="user-name" name="user-name" placeholder="Username" value="{{user}}" required>
            <input type="number" id="old-code" name="old-code" placeholder="Old Code (4 digits)" required>
            <input type="number" id="new-code" name="new-code" placeholder="New Code (4 digits)" required>
            <button id="update_button">update</button>
            <div id="message" class="error"></div>
        </div>
        <br  />
        <a style="clear:both" href="/"><< return</a>

    </div>

    <script src="/public/jquery.js" type="text/javascript"></script>
    <script src="/public/update_code.js" type="text/javascript"></script>
</body>
</html>